@model PlantItOut.ViewModels.ListViewModel

<div class="container body-content">
    <h2 class="centered">View Plants By Category</h2>

    <a asp-controller="plantCategory" asp-action="Create">Create a New Category</a>

<table class="table">
    <tr>
        <th>Beginner</th>
        <th>Intermediate</th>
        <th>Expert</th>
    </tr>
    <tr>
        <td>
            @if (Model.BeginnerResults.Count >= 1)
            {
                @foreach (var plant in Model.BeginnerResults)
                {
                    <a asp-controller="Plant" asp-action="Detail" asp-route-id="@plant.Id">@plant.Name</a><br>
                }
            } 
        </td>

        <td>
            @if (Model.IntermediateResults.Count >= 1)
            {
                @foreach (var plant in Model.IntermediateResults)
                {
                    <a asp-controller="Plant" asp-action="Detail" asp-route-id="@plant.Id">@plant.Name</a><br>
                }
            }
        </td>

        <td>
            @if (Model.ExpertResults.Count >= 1)
            {
                @foreach (var plant in Model.ExpertResults)
                {
                    <a asp-controller="Plant" asp-action="Detail" asp-route-id="@plant.Id">@plant.Name</a><br>
                }
            }
        </td>
    </tr>
</table>
</div>
